.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.toggle-button {
  width: 150px;
}

hr {
  width: 100%;
  margin-top: 20px;
}

::ng-deep h2, h2,
::ng-deep h3, h3 {
  color: indianred !important;
}
