@import "../node_modules/@clr/ui/src/main";

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/*
  This class is used in Alpha micro frontend and shouldn't be applied.
  The all Beta styles should be encapsulated by shadowing.
 */
.button {
  background-color: aqua !important;
}
