/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font: 14px Helvetica, 'Open Sans', Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
