<div class="main-container">
  <header class="header">
    <span>BETA microservice</span>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="./buttons" routerLinkActive="active">Buttons</a>
      <a clrVerticalNavLink routerLink="./assets" routerLinkActive="active">Assets</a>
      <a clrVerticalNavLink routerLink="./styles" routerLinkActive="active">Styles</a>
    </clr-vertical-nav>
  </div>
</div>
